*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.loa
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.mtc7
*.mtc8
*.mtc9
*.mtc10
*.mtc11
*.mtc12
*.mtc13
*.mtc14
*.mtc15
*.mtc16
*.mtc17
*.mtc18
*.mtc19
*.mtc20
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
docCheckOutput.csv
